@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

:root {
  /* colors */
  --orange: #c17f2e;
  --white: #fff;
  --gray: #2d2d2d;
  --special-black: #0e0e0e;
  --orange-hover: #ea9449;
  --yellowish-olive: #7c782f;
  --light-bluish: #bbbccc;
  --light-gray: #f2f4f3;
  --lighter-gray: #f5f5f5;
  --darker-gray: #4e515b;
  --more-darker-gray: #727272;
  --light-black: #292929;
  --darker-black: #4b4b4b;

  scroll-behavior: smooth;
  --primary-font-family: "Rubik", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
  --alt-text-color: var(--white);
  --alt-light-color: var(--light-gray);
  --title-text-color: var(--gray);
  --background-color: var(--orange);
  --scroll-up-color: var(--orange-hover);
  --accent-color: var(--yellowish-olive);
  --description-text-color: var(--light-bluish);
  --special-link-color: var(--special-black);
  --special-descr-color: var(--darker-gray);
  --more-darker-gray-color: var(--more-darker-gray);
  --light-black-color: var(--light-black);
  --darker-black-color: var(--darker-black);
  --background-lighter-gray: var(--lighter-gray: );

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;

  /* Other */
  --header-height: 4rem;
  --border-radius: 8px;
  --transition-speed: 0.3s;
  --color-border: #faf9f5;
}

img {
  display: block;
  max-width: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--alt-text-color);
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);

  @media (min-width: 768px) {
    padding: 0 var(--spacing-lg);
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}

.link {
  text-decoration: none;
}
