.our__store_services-menu {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--background-color);
  padding: var(--spacing-xl) var(--spacing-md);
  @media (min-width: 480px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 990px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .store__services-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background: transparent;
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
    transition: background var(--transition-speed) ease;
    &:hover {
      background: var(--light-black-color);
    }
    .store__services-img {
      margin: 10px 0 0 18px;
      width: 50px;
      height: 50px;
    }
    .store__services-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 40px 10px;
      .store__services-title {
        font-family: var(--primary-font-family);
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--alt-text-color);
        @media (min-width: 768px) {
          font-size: 23px;
        }
        @media (min-width: 990px) {
          font-size: 24px;
        }
      }
      .store__services-descr {
        font-family: var(--secondary-font-family);
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--alt-text-color);
        margin: 0;
      }
    }
  }
}
