.index__upgrade-your-styles-watches-background {
  background-image: url("../img/index-upgrade-your-style-watches/index-upgrade-your-style-watches.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
}
